body {
  margin: 0;
}
main {
  display: flex;
}

h2 {
  text-align: center;
}

h1, h2, h3, h4 {
  color: rgb(169, 12, 174);
}

p, li, article {
  color: darkblue
}

.welcomeBox {
  position: absolute;
  margin-inline: 20%;
  margin-top: 5%;
  opacity: 0.95;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #00d8ff;
}
.welcomeText {
  font-size: 3rem;
  text-align: center;
  padding: 10rem 1rem;
}

.welcomeClick {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
