.card {
  border: 3px solid #00d8ff;
  border-radius: 40px;
  width: 48%;
  height: 12rem;
}

.card h3 {
  text-align: center;
}

.card article {
  margin: 0 2rem 0.5rem 2rem;
}

.card p {
  background-color: #00d9ff24;
  margin-inline: 1rem;
  margin-block: 0rem;
  padding: 0.5rem;
}

.card article:last-child {
  height: 5rem;
}

.card:hover {
  box-shadow: 0px 0px 10px #00d8ff;
}
